In [19]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import datetime

In [20]:
# Step 1: Send a GET request to the specified URL
# Define the URL
url = "https://yts.mx/browse-movies/0/all/all/0/featured/0/all"
response = requests.get(url)

In [21]:
# Step 2: Parse the HTML content of the response using BeautifulSoup
soup = BeautifulSoup(response.text, 'html.parser')

In [22]:
# Step 3: Save the HTML content to a text file for reference
with open("yts.txt", "w", encoding="utf-8") as file:
    file.write(str(soup))
print("Page content has been saved to yts.txt")

Page content has been saved to yts.txt

In [23]:
# Step 4: Extract movie data from the parsed HTML and store it in a list
movies_data = []
for movie in soup.find_all('div', class_='browse-movie-wrap col-xs-10 col-sm-4 col-md-5 col-lg-4'):
    Title = movie.find('a', class_='browse-movie-title').text
    Genre = movie.find_all('h4')[1].text
    Rating = movie.find('h4', class_='rating').text.split(' / ')[0]
    Year = movie.find('div', class_='browse-movie-year').text
    movies_data.append([Title, Genre, Rating, Year])

In [24]:
# Step 5: Create a Pandas DataFrame from the extracted movie data
df = pd.DataFrame(movies_data, columns=['Title', 'Genre', 'Rating', 'Year'])

In [25]:
# Display the resulting DataFrame
df

                                          Title      Genre Rating  Year
0                                    Monkey Man     Action    7.2  2024
1                               Arthur the King  Adventure    7.1  2024
2                                   Problemista     Comedy    7.1  2023
3          Rebel Moon - Part Two: The Scargiver     Action    5.2  2024
4                     Late Night with the Devil     Horror    7.2  2023
5   [FR] The Three Musketeers - Part II: Milady     Action    6.5  2023
6                                 Gods of Egypt     Action    5.4  2016
7                                    Mean Girls     Comedy    5.7  2024
8                              Drive-Away Dolls     Action    5.5  2024
9                                   The Channel     Action    5.6  2023
10                                     One Life  Biography    7.6  2023
11                                   Immaculate     Horror      6  2024
12                               The Bricklayer     Action    5.1  2023
13                               Dune: Part Two     Action    8.7  2024
14                                    Bombshell     Action    6.8  2019
15                        Pacific Rim: Uprising     Action    5.6  2018
16                             T2 Trainspotting     Action    7.2  2017
17                         One Night in Bangkok     Action    5.2  2020
18                              Kung Fu Panda 4     Action    6.3  2024
19                        Wicked Little Letters     Comedy      7  2023

In [26]:
# save to excel file 
df.to_excel('output.xlsx', index=False)

In [27]:

# Get the current date, time, and day
now = datetime.datetime.now()
date_time_day = now.strftime("%Y-%m-%d, %H:%M:%S, %A")
# Convert the DataFrame to a markdown table
markdown_table = df.to_markdown()

# Write the date, time, day, and markdown table to the report.md file
with open('report.md', 'a') as f:
    f.write(f'\n## Date: {date_time_day}\n')
    f.write('\n## DataFrame\n')
    f.write(markdown_table)